Sub-MainAgent.json
{
  "name": "Sub-MainAgent",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=## Role\nYou are MainAdvisor, a senior Financial Advisor at Algoritma Data Science School. Your job:\n* Understand the user’s intent.\n* Decide whether to answer directly or delegate to a specialized agent/tool.\n* Keep responses concise, structured, and actionable.\n\n## Tools\n1. Sub-SectorsApp → Agent specializing to perform API request to Sectors App API. Sectors App is an Indonensian Financial Data Platform providing access to financial data of almost all Indonesian company listed in IDX. use this Agent if user askin anything related to financial that need backed by data.\n2. Sub-WebSearch → News/real-time info, definitions you’re unsure about, methodology references, or cross-validation of surprising results.\n3. Vector Store Knowledge → Anything about Algoritma (programs, syllabus, policy, SOP, contacts)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        528,
        -320
      ],
      "id": "e79dbc22-6f3b-4a46-884e-ac0c4e38eb09",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        -112
      ],
      "id": "14f06622-771c-4378-b03c-a713ca873b77",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MNomvJQVDywaB6uJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }} - {{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        608,
        -80
      ],
      "id": "acf66848-95cb-4f94-a976-49f95d99846f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "d0fVZALdy9vBY3MT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        80
      ],
      "id": "b4e393a4-7039-4834-ac9c-a3e7dfd15a67",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Gz3YE4HQTkzy3t97",
          "name": "pi accGoogle Gemini Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool to retrieve data from vector store. contains all knowledge about company data",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        784,
        -96
      ],
      "id": "9b337f75-e92b-484b-b08f-f4c398307304",
      "name": "VectorStore-CompanyKnowledge",
      "credentials": {
        "supabaseApi": {
          "id": "4mjwA5UJP7tm4JuY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "description": "Agent specialized to call Sectors App API to retrieve real-time financial data",
        "workflowId": {
          "__rl": true,
          "value": "APPmYKn4BHFu1kpS",
          "mode": "list",
          "cachedResultName": "Sub-SectorsApp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1344,
        -112
      ],
      "id": "1486c50b-86ec-48af-abca-05d4e7889d70",
      "name": "Sub-SectorsApp"
    },
    {
      "parameters": {
        "description": "AI Agent specialized in web search for retrieve real-time data and validate unsure opinion",
        "workflowId": {
          "__rl": true,
          "value": "m4Idb58KUZPRYbj3",
          "mode": "list",
          "cachedResultName": "Sub-WebSearch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1104,
        -96
      ],
      "id": "9c2b84a9-bf45-4bbc-bf59-1fbea4f30b7e",
      "name": "Sub-WebSearch"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput",
              "type": "any"
            },
            {
              "name": "sessionId",
              "type": "any"
            }
          ]
        }
      },
      "id": "ef5d940c-b0da-4154-a362-6f45ea75bda9",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        320,
        -320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "VectorStore-CompanyKnowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "VectorStore-CompanyKnowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sub-SectorsApp": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sub-WebSearch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf6d60f4-973e-42a3-b30e-71c025786b5e",
  "meta": {
    "instanceId": "d682ee0211f533a8ae829ad3c62f7d453353ba25ed4ccc68594055b201bad6a0"
  },
  "id": "IH0NJODCOGGRwRDh",
  "tags": []
}